POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
EVOLUTION_API_KEY=
EVOLUTION_SERVER_URL=http://localhost:8080
EVOLUTION_DATABASE_NAME=evolution
EVOLUTION_DATABASE_USER=evolution
EVOLUTION_DATABASE_PASSWORD=
EVOLUTION_IMAGE_TAG=
REDIS_PASSWORD=
VITE_APP_NAME=CRM
VITE_LEAD_IMPORT_MAX_ROWS=10000
VITE_LEAD_IMPORT_MAX_FILE_BYTES=10485760
WEB_PORT=
WEB_LISTEN_PORT=
WEB_LEAD_IMPORT_MAX_BODY_SIZE=11m
WEB_HSTS_MAX_AGE=0
API_UPSTREAM=
