POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
EVOLUTION_API_KEY=
EVOLUTION_SERVER_URL=http://localhost:8080
EVOLUTION_DATABASE_NAME=evolution
EVOLUTION_IMAGE_TAG=
REDIS_PASSWORD=
VITE_APP_NAME=CRM
WEB_PORT=
WEB_LISTEN_PORT=
API_UPSTREAM=
